<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    {% load static %}
    <meta charset="utf-8">
    <title>Welcome To E-Voting</title>
    <link type="image/svg" rel="icon" href="{% static 'poll-solid.svg'%}" />

    <!-- Fontawesome CDN -->
    <script src="https://kit.fontawesome.com/0c287f6377.js" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>
<body>
    <nav class="navbar navbar-dark bg-primary">
        <h1 style="display:inline-block"><i class="fas fa-poll"></i> E-Voting System</h1>

        <div>
            <a href="{% url 'user_home' %}">Home</a>
            <a href="javascript:{document.getElementById('logout').submit()}">Log Out</a>
        </div>
    </nav>

    <form action="{% url 'logout' %}" method='POST' id='logout'>
      {% csrf_token %}
      <input type='hidden'/>
    </form>

    <section>
        <h2>User Profile</h2>

        <img class="user-pic" src="{{ voter.user_img.url }}" />

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Name:</span>
            </div>
            <input type="text" class="form-control" disabled value="{{ voter.getName }}" />
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">RMN:</span>
            </div>
            <input type="tel" class="form-control" disabled value="{{ voter.phone_no }}" />
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">DOB:</span>
            </div>
            <input type="date" class="form-control" disabled value="{{ voter.getDOB }}" />
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Voting ID:</span>
            </div>
            <input type="text" class="form-control" disabled value="{{ voter.voting_number }}" />
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Village:</span>
            </div>
            <input type="text" class="form-control" disabled value="{{ voter.village }}" />
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Taluka:</span>
            </div>
            <input type="text" class="form-control" disabled value="{{ voter.taluka  }}" />
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">City:</span>
            </div>
            <input type="text" class="form-control" disabled value="{{ voter.city }}" />
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">District:</span>
            </div>
            <input type="text" class="form-control" disabled value="{{ voter.district }}" />
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">State:</span>
            </div>
            <input type="text" class="form-control" disabled value="{{ voter.state }}" />
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Address:</span>
            </div>
            <input type="text" class="form-control" disabled value="{{ voter.address }}" />
        </div>
    </section>
</body>
</html>
