@import url('https://fonts.googleapis.com/css2?family=Agency+FB');
@import url('https://fonts.googleapis.com/css2?family=Coda');
@import url('https://fonts.googleapis.com/css2?family=Roboto');

body {
	font-family: 'Roboto';
}

h1 {
	font-family: 'Agency FB';
	font-weight: bold;
	font-size: 300%;
	color: rgba(255,255,255,0.85);
	text-shadow: 2px 2px 2px gray;
}

h2 {
	font-family: 'Coda';
	font-weight: bolder;
	font-size: 300%;
	text-align: center;
	margin: 2%;
	color: #ff4f52;
	text-shadow: 2px 2px 2px gray;
}

nav {
	padding: 0.5% 1%;
	box-shadow: 0px 2px 4px;
}

	nav div {
		width: 180px;
		padding: 1%;
		float: right;
	}

	nav a {
		margin: 5%;
		color: rgba(255,255,255,0.75);
		font-size: 110%;
		text-shadow: 2px 2px 2px gray;
	}

		nav a:hover {
			color: white;
			text-decoration: none;
		}

table a, button {
	box-shadow: 2px 2px 4px black;
}

table a:hover, button:hover {
	box-shadow: 1px 1px 2px black;
}

section, form {
	text-align: center;
	margin: 3%;
}

.badge {
	font-size: 100%;
	padding: 3% 7%;
}

thead {
	font-size: 105%;
	color: white;
}

table th:nth-child(1) {
	border-radius: 15px 0px 0px 0px;
	width: 15%;
	border: 0px;
}

table th:nth-last-child(1) {
	border-radius: 0px 15px 0px 0px;
	border: 0px;
}

table {
	border-radius: 15px 15px;
	text-align: center;
	margin: auto;
	box-shadow: 4px 4px 4px;
}

form table th:nth-child(1) {
	width: 25%;
}

input {
	box-shadow: 2px 2px 2px;
}

input[type=radio] {
	visibility: hidden;
	position: absolute;
}

	input[type=radio] ~ label {
		width: 30%;
		padding: 1%;
		background-color: rgba(0,123,255,0.5);
		border-radius: 10px;
		box-shadow: 4px 4px 4px;
	}

	input[type=radio]:hover ~ label {
		background-color: rgba(0,123,255,0.90);
		box-shadow: 2px 2px 2px;
		transition-duration: 500ms;
	}

	input[type=radio]:checked ~ label {
		color: rgba(255, 255, 255, 1);
		box-shadow: 0 15px 15px rgba(240,0,50,0.5);
		background-color: rgb(255,0,50);
		font-size: 110%;
		transition-duration: 500ms;
	}

.input-group {
	width: 45%;
	margin: auto;
}

.input-group-prepend {
	width: 20%;
	display: inline-block;
	text-align: right;
	box-shadow: 2px 2px 2px;
}

/*LOGIN Starts*/
.modal-content {
	background-color: rgb(0,123,255);
	opacity: .8;
	padding: 0 18px;
	border-radius: 10px;
	margin-top: 30%;
	box-shadow: 4px 4px 4px;
}

.user-img img {
	height: 120px;
	width: 120px;
	margin-top: -60px;
	margin-bottom: 45px;
}

.login p {
	margin-top: -30px;
	margin-bottom: 10px;
	color: #d4f5ff;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 2px;
	text-shadow: 2px 2px 2px gray;
}

.form-group input {
	height: 42px;
	border-radius: 5px;
	border: 0;
	font-size: 18px;
	letter-spacing: 0.5px;
	margin-bottom: 15px;
	margin-top: 1px;
}

.form-group p {
	font-size: 18px;
	letter-spacing: 0.5px;
	margin-bottom: 1px;
	margin-left: 3px;
	color: #d4f5ff;
	text-align: left;
	text-shadow: 2px 2px 2px gray;
}

.form-group button {
	width: 45%;
	display: inline-block;
	margin: 3% 2%;
	border: 1px solid #ffffff;
}

	.form-group button:hover {
		border: 1px solid #d4f5ff;
	}

	#login_btn {
		background-color: #2192cf;
		border-radius: 3px;
		padding: 5px 10px;
		border: 1px solid #ffffff;
		letter-spacing: 1px;
	}

	#login_btn:hover {
		background-color: #13445e;
		border: 1px solid #d4f5ff;
	}

/*LOGIN Ends*/