<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
        {% if error %}
          <h1>{{error}}</h1>
        {% endif %}

        <h1>Super Users Only !</h1>
      <form class="" action="{% url 'password' %}" method="post">
        {% csrf_token %}
          Enter Username<input type="text" name="username" value="" autocomplete="off">
          Enter password<input type="password" name="password" value="" autocomplete="off">
          <button type="submit" name="button">Log in</button>
      </form>
  </body>
</html>
