Election Home Page

<a href="{%  url 'hold' %}">Click Here To Hold An Election</a>

<a href="{%  url 'logout' %}">Logout</a>
<section>
  <table class="table table-active table-hover">
    <thead class="bg-dark">
      <tr>
        <th>Date</th>
        <th>Election</th>
        <th>Type</th>
        <th>State</th>
        <th>District</th>
        <th>Taluka</th>
        <th>Village</th>
        <th>Time</th>
      </tr>
    </thead>

    <tbody>
      {% for election in data %}
      <tr>
            {% csrf_token %}
        <td>{{ election.date }}</td>
        <td>{{ election.name_of_election }}</td>
        <td>{{ election.type_of_election }}</td>
        <td>{{ election.state }}</td>
        <td>{{ election.district }}</td>
        <td>{{ election.taluka }}</td>
        {% if election.village != '-' %}
        <td>{{ election.village }}</td>
        {% else %}
        <td>-</td>
        {% endif %}
        <td>{{ election.getTime }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
